body{
    background-image: url('src/images/WallpaperDog-20495746.jpg');
    background-size: cover;
    color:white
    
    
}
.form{
    margin-left: 70%;
    margin-right: auto;
    width: 28em;    
    justify-content: center;
    background:rgba(71, 54, 54, 0.6) 

}


.form label{
    width: 200px;
    height: 20px;
    margin-right:2%;
    margin-left:5%;



}
/* #user-input-info{
margin: auto;
text-align: center;
border: 3px solid hsl(177, 100%, 50%);
padding: 1px; 
/* width: 200px;
border: 3px solid hsl(177, 100%, 50%);
padding: 1px; 
} */


h1{
    text-align: center;
    font-family: 'Moon Dance', cursive;
    font-size: 40px;
    background:hsl(0, 0%, 0%,.4) 

}


h2{
    font-family: 'Moon Dance', cursive;
   text-align:center   ;
   font-size:25px;

   
}

#titleofapp{
    margin: left;
    width: 65%;
    padding: 10px;
    border: 5px solid burlywood ;

}
 #subtitlemessage{
    padding-top: 32px;
  
}

.coffeefind{
    text-align: center;
    padding-bottom: 32px;
    
}


.firstoptions{
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 5px solid burlywood ;

}


#chex {
    margin-left: auto;
    margin-right: auto;
    width: 20em    
    
}